# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
env/
venv/
.venv/
PP_ENV/
conda/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Data (keep only the README)
data/*.csv
data/*.parquet
data/*.pkl
!data/README_data.md

# Models (optional)
models/*.pt
models/*.pth
models/*.h5
models/*.pkl
models/*.joblib
